/* Reset */

html,
body,
div,
nav,
header,
section,
article,
footer,
h1,
h2,
h3,
p,
img,
ul,
li {
    margin: 0;
    padding: 0;
}

#container {
    /* this controlls the total width of the page */
    max-width: 150vw;
}

nav {
    /* this controlls the total width of the page */
    min-height: 200px;
    background-color: #00ffff;
    position: relative;
    color: #000080;
    font-size: 60px;
    padding: 15px;
    font-family: 'Orbitron', sans-serif;
    text-decoration: underline;
}

nav a:hover {
    /* this controls the nav hover over w/ mouse color*/
    background: #888;
    color: #000000;
}

nav a:visited {
    color: #003366;
}

header {
    height: 650px;
    /* issue*/
    /* height: calc(100vh - 50px);*/
    color: #ffffe0;
    font-size: 25px;
    text-align:justify;
    text-shadow: -3px 0 #000000, 0 2px #000000, 2px 0 #000000, 0 -1px #000000;
    padding-top: 50px;
    padding-right: 20px;
    padding-left: 20px;
    font-family: 'Pacifico', cursive;
    font-family: 'Lemonada', cursive;
    background-color: #C0C0C0;
    background-position: center;
    background-image: url("../images2/nice%20beachpexels-photo-248797.jpeg")
}

header a:visited {
    color: #ffffff;
}

.thatabout {
    background-image: url("../images2/Tide-Surf-Water-Sea-Beach-Ocean-Tropical-Waves-498476.jpg")
}


/*-----> do not need
.newyork {
    background-image: url("../images2/New_York_NYC.jpg")
}--->*/

header a:hover {
    background: #888;
    color: #000000;
}

#section-one {
    display: flex;
    justify-content: space-between;
}

#aboutus-section-one {
    display: flex;
    justify-content: space-between;
}


/* --------THIS CONTROLS PHOTOS ON INDEX/HOME PAGE--------- */

.box {
    flex: 1;
    background-image: url("../images2/2%20palms%20and%202%20hammock.jpg");
    font-size: 30px;
    text-align: left;
    color: #00ffff;
    /*color:#00ffff */
    text-shadow: -1px 0 #000000, 0 2px #000000, 3px 0 #000000, 0 -1px #000000;
    padding-top: 140px;
    padding-left: 30px;
    padding-right: 300px;
    font-family: 'Artifika', serif;
    background-position: center;
    height: 400px;
    background-size: cover;
    /* controlled and resized image in box */
}

#section-one article:first-child {
    background-image: url("../images2/Tide-Surf-Water-Sea-Beach-Ocean-Tropical-Waves-498476.jpg");
}

#article-2 {
    min-height: inherit;
    /* how to resize a picture */
    background-color: #ffff00;
    /* if want color square */
    background-image: url("../images2/waves.gif")
}

#article-3 {
    background-image: url("../images2/poster-1568247_960_720.jpg")
}


/*------THIS CONTROLS THE BLACK AND GREY LINE BELOW PHOTOS ---------*/

#section-two {
    min-height: 20px;
    background-color: #000000;
}

footer {
    min-height: 20px;
    background-color: #778899;
    text-align: center;
}
