/* Reset */
html, body, div, nav, header, section, article, footer, h1, h2, h3, p, img, ul, li {
    margin: 0;
    padding: 0;
}

#container { /* this controlls the total width of the page */
    max-width: 150vw; }
    

nav { /* this controlls the total width of the page */
    min-height: 200px;
    background-color: cyan;
    position: relative;
    color:   darkblue;
    font-size: 60px; 
    padding: 15px;
    font-family: 'Orbitron', sans-serif;
    text-decoration: underline;
}
    nav a:hover { /* this controls the nav hover over w/ mouse color*/
    background: #888;
    color: #000000;
}

nav a:visited {
    color: #003366;   
}
header {
    height:650px;  /* issue*/ 
    /* height: calc(100vh - 50px);*/ 
    color:  #fff0f5;
    font-size: 24px;
    text-align: right;
    padding-top: 20px;
    padding-right: 10px;
    font-family: 'Pacifico', cursive;
    background-color: #C0C0C0;
    background-position: center;
    background-image: url("/images2/beach-beautiful-blue-coast-40976.jpeg")
}
header a:visited {
    color: white;
}

header a:hover {
    background: #888;
    color: #000000;
}
/* class links didn't use 
.aboutus {
    background-image: url("../images/DSC00494.jpg") 
    
}

.contactus {
    background-image: url("../images/burger.jpg")
} */

       /* link didn't take 
        a: link {
background-image: url(https://www.earthcam.com/usa/newyork/highline/?cam=highline) }*/
    
    
    /* "a" went red" 
    a:visted {
background-image: url("https://www.earthcam.com/usa/newyork/highline/?cam=highline") }*/
    
       /*fonts wrong
{   font-family: 'Orbitron', sans-serif
    font-family: 'Merriweather', serif;
padding-top: 10px; }*/

/* not working 
.aboutus: {  
background-image: url("../images/PSX_20140215_001149.jpg")
} */

#section-one {
    display: flex;
   justify-content: space-between;

    }

#aboutus-section-one {
display: flex;
   justify-content: space-between;

}

/* --------THIS CONTROLS PHOTOS ON INDEX/HOME PAGE--------- */ 
.box {
   flex: 1; 
    background-image: url("../images2/beach-beverage-caribbean-cocktail-68672.jpeg");
    background-color: #FD7C6E;
    height: 400px;
    background-size: cover; /* controlled and resized image in box */
}

/* ----------------PHOTOS for ABOUTUS PAGE ------------ */
.flag {
    background-image: url("../images/flag.jpg")
    
}

.mutedpark {
    background-image: url("../images/mutedpark.jpg")
}
/* about-section-two not working 
#aboutus-section-two article: {
    background-image: url("../images/burger.jpg") */
}

.water {
    background-image: url("../images/water.jpg")
}
.fishheads {
    background-image: url("../images/fishheads.jpg")
}
/* ---------------- ABOVE PHOTOS for ABOUTUS PAGE ------------ */



 
#section-one article:first-child {
    background-image: url("../images2/beaches-shore-sea-sand-horizon-ocean-beach-waves-tropical-nature-wallpapers-hd-for-android-1366x768.jpg");
   
}

#article-2 {
    min-height: inherit; /* how to resize a picture */ 
    background-color: #ffff00; /* if want color square */
    background-image: url("../images2/waves.gif")
        
    
}
/* --------THIS CONTROLS PHOTOS ON ABOUT US PAGE--------- */ 
/*
#aboutus-section-one article: first-child {
    background-image: url("../images/DSC00536.jpg")
    display: flex; 
justify-content: space-between; }*/

/* -- might not correct 
#container2 {
    
}
#header2 {
    background-image: url("../images/DSC00494.jpg")
    color:  #778899;
    background-color: #986960;
    background-position: center
}  */

/*------THIS CONTROLS THE BLACK AND GREY LINE BELOW PHOTOS ---------*/
#section-two {
min-height: 20px;
    background-color: #000000;
}
footer {
    min-height: 20px;
    background-color: #778899; 
    text-align: center;
}